
.vira_ptitle,.industrial_ptitle{
  font-size: 16px !important;
  font-weight: bold !important;
}

#btn_submit_holder{
  float:right;
}

#vira_receipt_holder{
float:right;
padding-right: 5px;
}

.vira_phead,.industrial_phead{
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(27, 27, 187, 0.83);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:white;
}

.form-control-adjusted{
  padding:8px 12px;
  height: 36px;
}

.vira_pbody,.industrial_pbody{
background-color: rgba(232, 232, 232, 0.56);
border-radius: 5px;
}
