.pbody_student_info{
  background-color: rgba(197, 197, 202, 0.6);
  border-radius: 5px;
}

.search_by_side{
  width: 150px !important;
  font-weight: bold;
}

.table{
  width : 100% !important;
}


.phead{
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(27, 27, 187, 0.83);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:white;
}

.ptitle{
  font-size: 16px !important;
  font-weight: bold !important;
}
.pbody{
background-color: rgba(232, 232, 232, 0.56);
border-radius: 5px;
}

#btn_submit_holder{
  float:right;
}
