
.ptitle{
  font-size: 16px !important;
  font-weight: bold !important;
}

#btn_login_holder{
  margin-left: 46%;
}

.pbody_login_holder{
  background-color: rgba(192, 192, 197, 0.85);
  border-radius: 5px;
}

.phead{
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(27, 27, 187, 0.83);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color:white;
}

.form-control-adjusted{
  padding:8px 12px;
  height: 36px !important;
  width: 75%;
  margin-left: 12%;
}

#general_remarks{
  resize: none;
  height: 120px;
}

.form-control-adjusted-visiting{
  height:30px !important;
  padding:8px 12px;
}

.pbody{
background-color: rgba(232, 232, 232, 0.56);
border-radius: 5px;
box-shadow: 2px 3px 3px;
}
