.pbody_student_info {
  background-color: rgba(197, 197, 202, 0.6);
  border-radius: 5px; }

.pbody_student_info {
  background-color: rgba(197, 197, 202, 0.6);
  border-radius: 5px; }

.phead {
  padding: 20px;
  margin-top: 20px;
  width: 60%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(27, 27, 187, 0.83);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white; }

.ptitle {
  font-size: 16px !important;
  font-weight: bold !important; }

.pbody {
  background-color: #684D4E;
  border-radius: 5px;
  width: 60%; }

.panel-adjusted {
  margin-left: 15% !important;
margin-top: 10% !important}

#btn_submit_holder {
  float: right; }
